<div class="authors py-5">
  <mat-icon class="text-white mb-3 border border-1 border-white rounded-2 back" (click)="back()">keyboard_backspace</mat-icon>
  <h1 class="text-white">Genres</h1>

  <div *ngIf="!isError; else error">
    <div *ngIf="isLoadingGenres || isLoadingBooks; else table" class="d-flex flex-column align-items-center">
      <h2 class="text-white mb-5">Loading...</h2>
      <mat-spinner></mat-spinner>
    </div>

    <ng-template #table>
      <app-genres-table [tableSource]="tableSource" [books]="books" (onAdd)="addGenre($event)" (onUpdate)="updateGenre($event)" (onDelete)="deleteGenre($event)" (onDeleteAll)="deleteAllGenres()"></app-genres-table>
    </ng-template>
  </div>

  <ng-template #error>
    <h2 class="text-white">Something goes wrong with server</h2>
  </ng-template>

  <lib-ng-toast></lib-ng-toast>
</div>



