<div class="welcome">
  <h1>Welcome to Books Portal</h1>

  <p>This is books portal. It's like a library, but better. Here you can add, update and delete authors,
    books and genres. All data is in comfortable table where you can sort and filter information</p>

  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="authors">
        <mat-icon>person</mat-icon>
        Authors
      </a>

      <a class="navbar-brand" href="#" routerLink="books">
        <mat-icon>book</mat-icon>
        Books
      </a>

      <a class="navbar-brand" href="#" routerLink="genres">
        <mat-icon> layers</mat-icon>
        Genres
      </a>
    </div>
  </nav>
</div>
