<div class="welcome h-100 d-flex justify-content-center align-items-center">
  <div class="welcome__content">
    <div class="row mb-5">
      <div class="col-12 text-center fw-bold">
        <h1 class="m-0 text-white">Welcome to Books Portal!</h1>
      </div>
    </div>

    <div class="row d-flex justify-content-center mb-5">
      <div class="col-8 text-center fst-italic text-white">
        <p class="m-0">This is books portal. It's like a library, but better. Here you can add, update and delete authors,
          books and genres. All data is in comfortable table where you can sort and filter information</p>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <nav class="navbar navbar-light border border-1 border-white rounded-1">
          <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center text-white" routerLink="authors">
              <mat-icon class="me-2">person</mat-icon>
              Authors
            </a>

            <a class="navbar-brand d-flex align-items-center text-white" href="#" routerLink="books">
              <mat-icon class="me-2">book</mat-icon>
              Books
            </a>

            <a class="navbar-brand d-flex align-items-center text-white" href="#" routerLink="genres">
              <mat-icon class="me-2"> layers</mat-icon>
              Genres
            </a>
          </div>
        </nav>
      </div>
    </div>

  </div>
</div>
