<h1 mat-dialog-title>Read genre</h1>

<div mat-dialog-content>
  <mat-card class="example-card">
    <mat-card-title class="fs-1 lh-1 mb-4">{{ currentGenre.name }}</mat-card-title>
    <mat-card-content>
      <p class="fs-3 lh-1">{{ currentGenre.name }}</p>

      <mat-divider></mat-divider>

      <mat-list role="list">
        <div mat-subheader>Books</div>
        <mat-list-item *ngFor="let book of currentGenre.books" role="listitem">{{ book.title }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<div mat-dialog-actions class="d-flex justify-content-end">
  <div class="action me-2" (click)="close()">
    <mat-icon>cancel</mat-icon>
  </div>
</div>
